:root {
    color-scheme: dark;
  }
  
  body {
    margin: 0;
    display: grid;
    place-content: center;
    min-height: 100vh;
    
    background-color: #121212;
    font-family: system-ui, sans-serif;
  }
  
  #canvas {
    width: 800px;
    height: 700px;
    border: 1px solid #555;
    margin-block: 1rem;
  }
  
  .controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
  
    margin-top: 2rem;
  }