/* Step 1 */
/* Body and Cube Setup */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #0f0f0f;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.cube {
    transform-style: preserve-3d;
    transition: 0.4s;
    transform-origin: 7.5rem 7.5rem;
    position: relative;
    width: 15rem;
    height: 15rem;
}

/* Step 2 */
/* Individual Face Styles */

.face1 {
    background: url(/gaming/breakout-game/breakout.gif);
    transform: rotateX(90deg) translate3d(0, 7.5rem, 0);
    transform-origin: bottom;
}

.face2 {
    background: url(/gaming/connect4/connect4.gif);
    transform: translate3d(0, 0, 7.5rem);
   
}

.face3 {
    background: url(/gaming/dice_roller/dice-roller.gif);
    transform: rotateY(-90deg) translate3d(7.5rem, 0, 0);
    transform-origin: left;
}

/*......................*/

.face4 {
    background: url(/gaming/dodge/dodge.gif);
    transform: rotateX(90deg) translate3d(0, 7.5rem, 0);
    transform-origin: bottom;
}

.face5 {
    background: url(/gaming/doodle-jump-master/doodle-jump.gif);
    transform: translate3d(0, 0, 7.5rem);
   
}

.face6 {
    background: url(/gaming/fish-bubbles/fish-bubbles.gif);
    transform: rotateY(-90deg) translate3d(7.5rem, 0, 0);
    transform-origin: left;
}

/* Step 3 */
/* Common Face Styles */

.face {
    width: 15em;
    height: 15em;
    transition: 0.4s;  
    position: absolute;
    background-size: cover;
    background-position: center;
}

/* Step 4 */
/* Add Face Overlay */

.face:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2.3em;
    transition: 0.4s;
}

.face:hover:before {
    opacity: 1;
}